<div class="todo-wrapper ngAnimate" ng-controller="listController">
    <!-- title -->
    <div class="todo-title clearfix align-justify">
      <div class="date">
        <h2>15</h2>
        <p>
          <span>Sep</span>
          <span>2018</span>
        </p>
      </div>
      <div class="day">
        <p>Saturday</p>
      </div>
    </div>
    <!-- .title -->
    <hr>
    <!-- list -->
    <ul class="align-left">
      <li ng-repeat="task in todoList track by $index">
        <label>
          <input type="checkbox">
          <p ng-bind="task"></p>
        </label>
      </li>
    </ul>
    <!-- .list -->
    <button type="button" class="btn btn-circle" ng-click="addTask()">+</button>
</div
